@page "/"
@layout LandingPageLayout

<PageTitle>Genius Chef - Craft a dream meal</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center">
            <div class="col text-end me-3">
                <a href="https://mathieudeveloper.netlify.app/" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="~/images/AiChefLogoLight.png" height="300"/>
            </div>
        </main>
    </div>
</div>