.page{
    background-image: url(/images/AIChefBG2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--bs-light);
    font-size: 1.2rem;
}

.pagestyle{

}